@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


html,body
{
    margin: 0;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
    
    
}
.container 
{
    display: grid;
    /* CSS is smart enough to separate named lines */
    /* The <x>-start and <x>-end  are information to make the limits*/
    height: 100%;
    margin: 15px;
    border: 5px solid crimson;
    gap: 5px;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(2, 50px);
    /* Row-axis - X - Horizontal */
    /* Default value: start */
    justify-content: center;
    /* Align content is for the Column Axis, this is, the Y Axis */
    align-content: end;
    /* Pretty much you have 9 combinations to play with, this is, a 3x3 posiiton combinations */
    /* These properties seems to be made for the container, not the items inside */
}

.container > div
{
    display: flex;
}

.container>:nth-child(1n)
{
    background-color: limegreen;
}
.container>:nth-child(2n)
{
    background-color: crimson;
}

.container>:nth-child(3n)
{
    background-color:palegoldenrod;
}

.container>:nth-child(4n)
{
    background-color:orangered;
}