@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


html,body
{
    margin: 0;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
    
    
}
.container 
{
    display: grid;
    /* CSS is smart enough to separate named lines */
    /* The <x>-start and <x>-end  are information to make the limits*/
    grid-template-columns: [fullColumn-start menu-start]1fr[menu-end content-start] 5fr [content-end fullColumn-end];
    grid-template-rows: 50px[content-start]auto[content-end]50px;
    height: 100%;
}

.container > div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */
.header,.footer
{
    grid-column: fullColumn;
}

.menu
{
    grid-column: menu;
}

.content
{
    grid-area: content;
}

.container>:nth-child(1n)
{
    background-color: limegreen;
}
.container>:nth-child(2n)
{
    background-color: crimson;
}

.container>:nth-child(3n)
{
    background-color:palegoldenrod;
}

.container>:nth-child(4n)
{
    background-color:orangered;
}