@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


html,body
{
    margin: 0;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
    color: white
}

.menuWindow
{
    display: grid;
    border: 5px solid white;
    background-color: blue;
    height: 98%;
    grid-template-columns: 1fr 150px;
    grid-template-rows: repeat(4,1fr);
}

.menuWindow > div
{
    border: 5px solid white;
}

.menuWindow
{

}

.menuWindow > .heroRow
{
    display: flex;
    grid-row: auto;
    
}

.heroData
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0.5em;
}

.heroRow > img
{
    width: 140px;
    height: 140px;
}

.menuSelectionWindow
{
    display: flex;
    flex-direction: column;
    grid-column: 2/-1;
    grid-row: 1/2;
    border: 5px solid white;
}
span
{
    color: cyan
}

.menuSelectionWindow
{
    display: flex;
    flex-direction: column;
    grid-column: 2/-1;
    grid-row: 1/2;
    border: 5px solid white;
}

.timePlayedWindow
{
    grid-column: 2/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.miscWindow
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    grid-column: 2/-1;
    grid-row: 3/-1;

}

.miscWindow > *
{
    margin-right: 10px;
}

